# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

TOKEN_SECRET="703a0fd60c21df6289847ebb492a05d385f6714e066a5ab824be2daca835f6197aad1d935ea6285ad7c035c6ef0065745d314c9397bad45e4928042333bca0e8"
# The connection string for your database. This is used by Prisma to connect to your database.
DATABASE_URL="mysql://root:password@localhost:3306/docusign"